<div class="row" ng-if="!readOnly">
	<div class="col-xs-12">
		<h1 class="pull-left">
			<i class="fa fa-lg fa-user"></i> <span> Publicación</span>
		</h1>
		<div class="btn-group pull-right" style="margin-top: 20px;" role="group" aria-label="..." ng-if="[1,2].indexOf(userData.role._id) != -1">
			<button type="submit" form="userForm" class="btn btn-primary" ng-click="save()"><i class="fa fa-save"></i>&nbsp;<span>Guardar</span></button>
			<back-button></back-button>
		</div>
		<hr />
	</div>
</div>
<div class="row" ng-if="readOnly">
	<div class="col-xs-12 col-md-6">
		<div class="pull-right" style="margin-top: 20px;" role="group" aria-label="...">
			<a href="#!/"><i class="fa fa-reply"></i>&nbsp;<span>Volver a publicaciones</span></a>
		</div>
		<hr />
		<div>
			<img alt="Imagen" src="{{news.photoUrl || 'images/default.png'}}" class="taller" style="margin-top: 0px;">
		</div>
	</div>
</div>
<form class="form" id="userForm" name="newsForm">
	<div class="col-xs-12 col-md-6">
		<div class="col-xs-12 col-md-6" ng-if="!readOnly">
			<div class="form-group">
				<label for="date">Fecha</label>
				<sc-datepicker ng-model="news.date" ng-disabled="true"></sc-datepicker>
			</div>
		</div>
		<div class="col-xs-12 col-md-6" ng-if="!readOnly">
			<div class="checkbox" style="padding-top:25px">
				<label for="isMessage">
				<input id="isMessage" type="checkbox" ng-model="news.isMessage"/>Enviar como mensaje
				</label>
			</div>
		</div>
		<div class="col-xs-12 col-md-12" ng-if="!readOnly">
			<div class="form-group">
				<label for="title">Título</label>
				<text-angular ng-model="news.title" id="title"></text-angular>
			</div>
		</div>
		<div class="col-xs-12 col-md-12" ng-if="!readOnly">
			<div class="form-group">
				<label for="body">Cuerpo</label>
				<text-angular ng-model="news.body" id="body"></text-angular>
			</div>
		</div>
		<h1 class="col-xs-12 col-md-12" ng-bind-html="news.title" ng-if="readOnly"></h1>
		<hr ng-if="readOnly"/>
		<p class="pull-right" ng-if="readOnly">
			{{news.createdDate|date:'dd-MM hh:mm a'}}
		</p>
		<div class="col-xs-12 col-md-12" ng-bind-html="news.body" ng-if="readOnly"></div>
	</div>
	<div class="col-xs-12 col-md-6" ng-if="!readOnly">
		<access ng-model="news.access"></access>
	</div>
</form>