<div class="row">
    <div class="col-xs-12">
        <h1 class="pull-left">
            <i class="fa fa-lg fa-list"></i> <span> Lista de Publicaciones</span>
        </h1>
        <div class="btn-group pull-right" style="margin-top: 20px;" role="group" aria-label="..." ng-if="[1,2].indexOf(userData.role._id) != -1">
            <back-button></back-button>
            <button type="button" class="btn btn-primary" ng-click="createNew()"><i class="fa fa-plus"></i>&nbsp;<span>Crear Nuevo</span></button>
        </div>
        <hr />
    </div>
</div>
<div class="row">
	<div class="col-xs-12">
		<list clase="wsNews" fields="fields" showid="false" search-fields="search" list="list"></list>
	</div>
</div>
