<div class="newsfeed-card">
	<div class="newsfeed-img" style="background-color: #1c7abf; color: white; padding: 20px">
		<i class="fa fa-4x fa-calendar" ng-if="ngModel.cardType =='event'"></i>
		<i class="fa fa-4x fa-newspaper-o" ng-if="ngModel.cardType =='news'"></i>
		<i class="fa fa-4x fa-question-circle" ng-if="ngModel.cardType =='form'"></i>
	</div>
	<div class="newsfeed-description">
		<div class="timestamp" style="margin-top:150px">
			<p class="timeago">
				{{ngModel.createdDate|date:'dd/MM hh:mm a'}}
			</p>
		</div>
		<h3 ng-bind-html="ngModel.title"></h3>
	</div>
	<a class="newsfeed-link" ng-click="goTo(ngModel)" ng-if="['news','form'].indexOf(ngModel.cardType) != -1">Leer más</a>
</div>