<div class="row">
	<div class="col-xs-12">
		<h1 class="pull-left">
			<i class="fa fa-lg fa-user"></i> <span> Usuario</span>
		</h1>
		<div class="btn-group pull-right" style="margin-top: 20px;" role="group" aria-label="...">
			<button type="submit" form="userForm" class="btn btn-primary" ng-click="save()"><i class="fa fa-save"></i>&nbsp;<span>Guardar</span></button>
			<back-button></back-button>
		</div>
		<hr />
	</div>
</div>
<div class="col-xs-12 col-md-6">
	<form class="form" id="userForm" name="userForm">
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="firstName">Nombre</label>
				<input type="text" class="form-control" ng-model="user.entity.firstName" id="firstName" placeholder="First Name">
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="lastName">Apellido</label>
				<input type="text" class="form-control" ng-model="user.entity.lastName" id="lastName" placeholder="Last Name">
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="birthday">Fecha de Nacimiento</label>
				<sc-datepicker ng-model="user.entity.birthday"></sc-datepicker>
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" class="form-control" ng-model="user.account.email" id="email" placeholder="Email">
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="phone">Teléfono</label>
				<input type="phone" class="form-control" ng-model="user.phone" id="phone" placeholder="Teléfono">
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="url">País de origen</label>
				<select class="form-control" ng-model="user.entity.country" id="country" ng-options="country as country.description for country in list.countries track by country._id"></select>
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="state">Estado de origen</label>
				<select class="form-control" ng-model="user.entity.state" id="state" ng-options="state as state.description for state in statesByCountry(user.entity.country) track by state._id"></select>
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="city">Ciudad de origen</label>
				<select class="form-control" ng-model="user.entity.city" id="city" ng-options="city as city.description for city in citiesByState(user.entity.state) track by city._id"></select>
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="url">Fecha de Ingreso</label>
				<sc-datepicker ng-model="user.ingressDate"></sc-datepicker>
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="period">Período</label>
				<select class="form-control" ng-model="user.period" id="period" ng-options="period as period.description for period in list.periods track by period._id"></select>
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="participantType">Tipo de participante</label>
				<select class="form-control" ng-model="user.participantType" id="participantType" ng-options="participantType as participantType.description for participantType in list.participantTypes track by participantType._id"></select>
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="programType">Tipo de Programa</label>
				<select class="form-control" ng-model="user.programType" id="programType" ng-options="programType as programType.description for programType in list.programTypes track by programType._id"></select>
			</div>
		</div>
		<div class="col-xs-12 col-md-6" ng-if="user.programType._id == 2">
			<div class="form-group">
				<label for="program">Programa</label>
				<select class="form-control" ng-model="user.program" id="program" ng-options="program as program.description for program in list.programs track by program._id"></select>
			</div>
		</div>
		<div class="col-xs-12 col-md-6" >
			<div class="form-group">
				<label for="program">Los mensajes llegarán vía:</label>
				<select class="form-control" ng-model="user.messageType" id="program" ng-options="messageType as messageType.description for messageType in list.messageTypes track by messageType._id"></select>
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="role">Rol</label>
				<select class="form-control" ng-model="user.role" id="role" ng-options="role as role.description for role in list.roles track by role._id"></select>
			</div>
		</div>
	</form>
</div>
